@font-face {
    font-family: 'NexaLight';
    src: local('Nexa Light'), local('NexaLight'), url('font/nexalight.woff2') format('woff2'), url('font/nexalight.woff') format('woff'), url('font/nexalight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NexaBold';
    src: local('Nexa Bold'), local('NexaBold'), url('font/nexabold.woff2') format('woff2'), url('font/nexabold.woff') format('woff'), url('font/nexabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
body{
    margin: 0;
}
header{
    width: 1550px;
    height: 74px;
    background: black;
    margin: auto;
    display: flex;
    border-bottom: 20px solid #f26c4f;
}
.logo{
    height: 100%;
}
.name{
    padding: 7px 0 0 7px;
}
.name h2{
    color: #c0312d;
    margin: 0;
    text-transform: uppercase;
    font-family: 'NexaBold';
    font-size: 40px;
    letter-spacing: -4px;
    height: 45px;
}
.name h2 c{
    color:#bfbfbf;
}
.name h2 d{
    font-size: 30px;
}
.name h3{
    color: white;
    margin: 0;
    font-family: 'NexaLight';
    font-size: 7px;
    letter-spacing: 4px;
    padding: 0 0 0 3px;
}
/* МЕНЮ ПОИСКА */
.content{
    width: 940px;
    margin: auto;
}
.osnBody{
    margin: auto;
    max-width: 1550px;
    background: #ebebeb;
}
.searchLine{
    width: 100%;
    height: 45px;
    display: flex;
    padding: 15px 0 10px 0;
}
.search{
    width: 33%;
    position: relative;
}
.search input{
    height: 45px;
    width: 300px;
    border: none;
    box-shadow: -1px 1px 1px #dedede;
    padding: 0 0 0 20px;
    font-family: 'NexaLight';
}
.search input:focus{
    outline: 2px solid #f26c4f;
}
.search img{
    position: absolute;
    top: 11px;
    left: 265px;
}
.findy{
    width: 13%;
    margin: 0 100px 0 10px;
}
.findy a{
    display: flex;
    width: 100%;
    height: 45px;
    text-decoration: none;
    background: white;
}
.findy a:hover{
    -webkit-filter: brightness(85%);
    transition: 0.6s;
}
.findy a:hover #but{
    background: #f26c4f;
    transition: 0.6s;
}
#findy{
    width: 97px;
    display: flex;
}
#findy img{
    padding:15px 0 0 15px;
    height: 17px;
}
#findy h2{
    padding: 16px 0 0 10px;
    margin: 0;
    font-family: 'NexaLight';
    color: #8f8f8f;
    font-size: 12px;
}
#but{
    width: 53px;
    background: #8f8f8f;
}
#but h2{
    transform: rotate(90deg);
    font-family: 'NexaLight';
    color: white;
}
.social-sd{
    width: 54%;
    display: flex;
    justify-content: space-between;
}
.social-sd h2{
    margin: 0;
}
.sd a{
    display: flex;
    font-family: 'NexaLight';
    color: #8f8f8f;
    font-size: 12px;
    padding: 12px 10px 0 10px;
    text-decoration: none;
}
.sd:hover{
    background:#f26c4f;
    border-radius: 20px;
    transition: 0.6s;
    
}
.sd img{
    width: 15px;
    height: 15px;
    padding: 3px 5px 0 0;
}
/* ПЕРВАЯ ЧАСТЬ САЙТА */
#secondFront{
    display: flex;
    height: 392px;
}
.goodInc{
    position: relative;
    width: 67%;
}
.goodInc h2{
    position: absolute;
    font-family: 'NexaLight';
    font-weight: 100;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 24px 30px 23px 65px;
    font-size: 16px;
    margin: 0;
    top: 325px;
    left: 274px;
}
.houseWrk{
    position: relative;
    width: 33%
}
.all{
    padding: 27px 50px 0 40px;
    position: absolute;
    top: 0;
    font-family: 'NexaLight';
    color: white;
}
#fir{
    font-size: 19px;
    font-weight: 100;
}
#sec{
    font-size: 12px;
    font-weight: 100;
    color:#8c8c8c;
    text-align: justify;
    line-height: 25px;
    letter-spacing: -0.5px;
}
.down, .date{
    display: flex;
    font-size: 12px;
    height: 18px;
}
.two{
    margin: 0;    
    color:#8c8c8c;
    width: 30%;
    padding-right: 60px;
}
.date{
    width: 70%;
    color:#8c8c8c;
    padding-top: 13px; 
}
.date h2{
    margin: 0;
    font-weight: 100;
    font-size: 12px;
    padding: 3px 0 0 10px;
}
#plus{
    margin: 0;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
}
#plus:hover{
    color: #f26c4f;
    transition: 0.4s;
}
#theethFront{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
#theethFront a{
    position: relative;
    height: 380px;
}
#theethFront a:hover{
    -webkit-filter: brightness(70%);
    transition: 0.4s;
}
#theethFront a:hover #corner{
    display: flex;
    padding-left: 222px; 
    transition: 0.4s;
}
.lineImg{
    position: absolute;
    top:0;
    text-align: right;
}
#theethFront a:hover h4{
    display: none;
}
#theethFront a:hover h2{
    margin-top: 119px;
}
.lineImg h2, .lineImg h3{
    margin-top: 150px;
    padding-left: 29px;
    text-align: start;
    color: #4f4f4f;
    font-family: 'NexaBold';
    font-size: 25px;
}
.lineImg h3{
    font-size: 12px;
    margin-top: 27px
}
.lineImg h4{
    padding: 5px 15px 0 0;
    font-size: 36px;
    font-weight: 600;
    margin: 0;
    color: white;
}
#corner{
    display: none;
}
#fourFront{
    display: flex;
    margin-top: 18px; 
}
.fourLeftSide{
    width: 620px;
    padding-right: 18px; 
}
.fourLeftSide a{
    text-decoration: none;
    color: #707070;
    font-family: 'NexaBold';
    font-size: 14px;
}
.fourRightSide{
    width: 300px;
}
.topBlock{
    padding-top: 36px; 
    margin-bottom: 18px;
    border-left: 4px solid #f26c4f;
    background: white;
    box-shadow: 1px 1px 1px #dedede;
}
.middleBlock{
    padding-top: 28px; 
    padding-bottom: 25px;
    margin-bottom: 9px;
    border-left: 4px solid #8f8f8f;
    background: white;
    box-shadow: 1px 1px 1px #dedede;
}
.middleBlock h2{
    font-size: 24px;
    color: #474747;
    font-family: 'NexaBold';
    margin: 0 0 17px 36px;
}
.middleBlock:hover{
    background: #f26c4f;
    transition: 0.4s;
    color: white;
    border-left: 4px solid #ce4e32
}
.middleBlock:hover h2{
    color: white;
    border-right: 1px solid white;
}
.middleBlock:hover img{
    -webkit-filter: brightness(200%);
}
.topBlock:hover{
    background: #f26c4f;
    transition: 0.4s;
    color: white;
    border-left: 4px solid #ce4e32
}
.topBlock:hover h2{
    color: white;
    border-right: 1px solid white;
}
.topBlock:hover img{
    -webkit-filter: brightness(200%);
}
.topBlock h2{
    font-size: 24px;
    color: #474747;
    font-family: 'NexaBold';
    margin: 0 0 17px 36px;
}
.topBlock h4{
    margin: 0 0 0 36px;
    padding: 20px 0 42px 0;
}
.datePanel{
    display: flex;
    margin-left: 36px; 
}
.datePanel h2{
    font-size: 10px;
    color: #b4b4b4;
    font-family: 'NexaBold';
    margin: 0;
    padding: 3.5px 25px 0 0;
    margin: 0 0 5px 0;
    font-style: italic;
    border-right: 1px solid#b4b4b4;
}
.stars{
    padding: 0 12px 0 25px;
    letter-spacing: -2px;
}
.stars img{
    padding-bottom: 7px;
}
#last-s{
    padding-bottom: 6px;
}
#com, #con{
    padding-left: 25px; 
}
#vot, #osn, #con{
    border: none;
}